docs2025-06-25/AI Creative Professional Group - Gmail Labelling AI Agent - jamie.johnson@aicreativeprofessionalgroup.net.json
{"createdAt":"2025-02-02T14:29:00.677Z","updatedAt":"2025-06-24T22:27:40.000Z","id":"AtsfpFNqQgo3GNSA","name":"AI Creative Professional Group - Gmail Labelling AI Agent - jamie.johnson@aicreativeprofessionalgroup.net","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"441a6770-6b63-448d-a966-6dc87c7ea75c","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"UZnb27cyp2xyitxw","name":"jamie.johnson@aicreativeprofessionalgroup.net"}}},{"parameters":{"model":"gpt-4","options":{}},"id":"2498c5e1-f017-4bef-9af3-d16352dd7fe3","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2538656710198274772"]},"id":"ae749325-77e3-4189-87b8-daaef80a979b","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"b8ea48d1-1037-4687-9aae-4d1c10345dc9","credentials":{"gmailOAuth2":{"id":"UZnb27cyp2xyitxw","name":"jamie.johnson@aicreativeprofessionalgroup.net"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4229328786095447605"]},"id":"a5eb4554-1e77-4cec-998f-5b72374f597e","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"b9f5fdd3-f07b-44b5-8888-89113fe0044b","credentials":{"gmailOAuth2":{"id":"UZnb27cyp2xyitxw","name":"jamie.johnson@aicreativeprofessionalgroup.net"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"82683977-9d74-47f1-8e6f-df2d55b25e34","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750082147,"possibleDuplicates":["19549e8545ae3886","19549df26f7e354b"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d74e744-62f2-4414-9917-91e6a1f046b3","triggerCount":1,"tags":[]}