docs2025-06-25/Autonomous AI Agents - Gmail Labelling AI Agent - marcus@autonomousaiagents.io.json
{"createdAt":"2025-01-14T11:38:57.471Z","updatedAt":"2025-06-24T22:25:30.000Z","id":"0LUcUEWzEkLEufiz","name":"Autonomous AI Agents - Gmail Labelling AI Agent - marcus@autonomousaiagents.io","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"67b97c2d-9131-4d6e-8cb8-b11511333e6a","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"model":"gpt-4","options":{}},"id":"742d11ed-7007-49fe-868f-aa1f08f81a22","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7147212670326169879"]},"id":"f8a05908-bb33-469f-92fa-6a674cf25468","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"be5679b0-5c72-40d8-971a-f979eb94bb20","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8459979485331351916"]},"id":"9f711e98-c393-4af4-ae29-d0c928456b0c","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"511511bd-0414-4c29-86ee-5581738fa5b7","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"9c752b59-9f50-4e4e-8776-d3d0d2596211","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1737022657,"possibleDuplicates":["1946e9e545703878"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57d98c47-ad03-42d3-b8d8-ce9efec87543","triggerCount":1,"tags":[]}