docs2025-06-25/Backup n8n Workflows.json
{"createdAt":"2025-06-24T22:28:50.893Z","updatedAt":"2025-06-24T23:23:56.000Z","id":"B3UyUNJmBxmzyuNR","name":"Backup n8n Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-100],"id":"1f592d24-2520-4754-8a1b-b3f5603bed46","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,60],"id":"e0aedd32-1490-4d52-8cfd-e31e8266ce4f","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-320,-20],"id":"4bca0814-17fa-4d25-90a7-3f94451034a9","name":"Get many workflows","credentials":{"n8nApi":{"id":"HXtothQ5HyVi5L91","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,80],"id":"9b7a2782-0623-4414-9038-55b1f29b921a","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[260,-120],"id":"b20a7f5d-aa65-479a-aae2-fab25ce9ec87","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,-200],"id":"2797ddc5-3227-4950-aeb0-0081f86379a8","name":"Send a message","webhookId":"9044a94a-ba8a-4eef-9592-08ed19ad1f90","credentials":{"gmailOAuth2":{"id":"EU1pyvFzu4An3WD8","name":"taylor.c@bizbots.agency"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,-20],"id":"cf334890-4085-4880-94eb-b1b5df38ca9d","name":"Send a message1","webhookId":"9044a94a-ba8a-4eef-9592-08ed19ad1f90","credentials":{"gmailOAuth2":{"id":"EU1pyvFzu4An3WD8","name":"taylor.c@bizbots.agency"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"m6rcu5","mode":"name"},"repository":{"__rl":true,"value":"newBackup","mode":"list","cachedResultName":"newBackup","cachedResultUrl":"https://github.com/m6rcu5/newBackup"},"filePath":"=docs{{$now.format('yyyy-MM-dd')}}/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{$now.format('yyyy-MM-dd')}}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[260,140],"id":"982d6311-3e2a-4b87-ae17-a49ea55ea097","name":"Create a file","webhookId":"2d282ff5-6025-44c1-a6fd-86937f9db8a1","credentials":{"githubApi":{"id":"NHjzun7oKrNSvkg9","name":"GitHub account"}}}],"connections":{"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0},{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0},{"node":"Create a file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Send a message1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e7928f9-e4d9-4d42-ac43-6c2b0beca1ab","triggerCount":0,"tags":[]}