docs2025-06-25/Biz Bots - Gmail Labelling AI Agent - taylor.c@bizbots.agency.json
{"createdAt":"2025-02-05T16:15:39.622Z","updatedAt":"2025-06-24T22:27:27.000Z","id":"v4nbLNN8oz1Eqsla","name":"Biz Bots - Gmail Labelling AI Agent - taylor.c@bizbots.agency","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"399cfa8f-7d91-4327-9f92-92897a50cdc5","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"EU1pyvFzu4An3WD8","name":"taylor.c@bizbots.agency"}}},{"parameters":{"model":"gpt-4","options":{}},"id":"acaa6d73-8896-4411-ae35-7bebc7a695ed","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_425353905465075423"]},"id":"8d02b716-0207-46d5-8bc4-baaf9c87d408","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"bb47afcf-7274-41fb-a2c0-c3f959149c41","credentials":{"gmailOAuth2":{"id":"EU1pyvFzu4An3WD8","name":"taylor.c@bizbots.agency"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2759030343810982037"]},"id":"897af1c3-10a6-43e6-b168-47a7a6a110ef","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"c8413881-385a-4d25-8fed-10ed9c168980","credentials":{"gmailOAuth2":{"id":"EU1pyvFzu4An3WD8","name":"taylor.c@bizbots.agency"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"f4dfe8eb-555a-4e48-bd0a-580e2a3d7a3d","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750082147,"possibleDuplicates":["1954901b5113a2ba","19548ee0d99e397a"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a31c5b24-e341-43c0-a85a-bf03b77e43e3","triggerCount":1,"tags":[]}