docs2025-06-25/Design & Development Agency - Gmail Labelling AI Agent - muhammad.a@designanddevelopment.agency.json
{"createdAt":"2025-01-17T14:57:21.960Z","updatedAt":"2025-06-24T22:27:51.000Z","id":"zBaleI0bsGRN226n","name":"Design & Development Agency - Gmail Labelling AI Agent - muhammad.a@designanddevelopment.agency","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"312276f2-589a-4a1f-b7f2-c46c5aaf55d7","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"NzKolMCXgiYGr3h5","name":"muhammad.a@designanddevelopment.agency"}}},{"parameters":{"model":"gpt-4","options":{}},"id":"e2a7ccae-3eb7-4672-a0c6-494e07a27dbe","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4384486604547388237"]},"id":"f3535541-621c-4f1b-8ae7-910e3063580b","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"fc5afbf1-642e-418e-a027-ab380aff64a4","credentials":{"gmailOAuth2":{"id":"NzKolMCXgiYGr3h5","name":"muhammad.a@designanddevelopment.agency"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8459979485331351916"]},"id":"76011fee-9efc-4234-9e86-d241116fe9c0","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"d09f3fc4-83d3-42e7-ad6b-39d316d7e287","credentials":{"gmailOAuth2":{"id":"NzKolMCXgiYGr3h5","name":"muhammad.a@designanddevelopment.agency"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"38f27759-401b-4c6c-8252-18809fe84e71","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750082146,"possibleDuplicates":["195486663bd8e649","194fc33e06ad7356"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb4188d4-93b8-4f59-b9b4-64b000f4fd40","triggerCount":1,"tags":[]}