docs2025-06-25/Getawayze - Gmail Labelling AI Agent - benjamin.renauld@getawayze.net.json
{"createdAt":"2025-02-06T20:01:57.254Z","updatedAt":"2025-06-24T22:27:17.000Z","id":"YkvVROcrt7ugX65W","name":"Getawayze - Gmail Labelling AI Agent - benjamin.renauld@getawayze.net","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"e57e8162-7955-4a71-8774-7ba6a0724e17","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"J6nV9sZJ04AujPdH","name":"benjamin.renauld@getawayze.net "}}},{"parameters":{"model":"gpt-4","options":{}},"id":"2319e378-185f-48ce-9b13-08de733df86c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7166217355569992453"]},"id":"97372006-a4a4-4760-bf06-43805a35b425","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"5db92c7c-cb30-47d0-8725-5df0d70f91ef","credentials":{"gmailOAuth2":{"id":"J6nV9sZJ04AujPdH","name":"benjamin.renauld@getawayze.net "}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7909819231623210020"]},"id":"4cd9608e-d612-4981-a4dd-09424809af61","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"0253320d-db94-4c0f-848b-db8429212d0d","credentials":{"gmailOAuth2":{"id":"J6nV9sZJ04AujPdH","name":"benjamin.renauld@getawayze.net "}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"f11e61d6-517b-46b8-8854-dabc2f4b8a46","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750082147,"possibleDuplicates":["194f61d83dfc560e","194f5d37f3a02eeb"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60edffd3-413d-4bc1-9f9f-9d69487135cd","triggerCount":1,"tags":[]}