docs2025-06-25/n8n masterclass "AI Workshop": Workflow #1.json
{"createdAt":"2024-11-29T07:46:39.852Z","updatedAt":"2025-06-24T22:25:44.000Z","id":"waSLr9Q6LhgQU5uy","name":"n8n masterclass \"AI Workshop\": Workflow #1","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8ff721e8-eb32-441f-bd91-e9522593fdd4","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","typeVersion":1.1,"position":[160,300]},{"parameters":{"assignments":{"assignments":[{"id":"e1998ee5-9ebd-4b03-a44a-7a58f93e68da","name":"Full Name","value":"={{ $json.name }}","type":"string"},{"id":"13832e41-de99-4ec0-8100-418a172d8572","name":"Email","value":"={{ $json.email }}","type":"string"},{"id":"87d8041e-df66-4850-a45b-44ae42afd558","name":"Country","value":"={{ $json.country }}","type":"string"},{"id":"b10242f3-3b00-4f71-8374-ff59ecad49a0","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"id":"c815e4bb-9aaf-4c0d-84c3-60c66a27fa64","name":"Transform Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,300]},{"parameters":{"operation":"getAllPeople","limit":7},"id":"467ec9b9-50e3-43cf-b4c4-468bcc7c61de","name":"Test Data","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[380,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa0b8cbd-4ecd-4340-a933-8ad7838e2f30","leftValue":"={{ $json.Country }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"33bd70d3-8cf0-43c9-951a-c3b374213f43","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,300]},{"parameters":{"options":{}},"id":"81c8a642-9634-4b0a-93f0-7d5ce4985c7c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,200]},{"parameters":{"options":{}},"id":"c03fc3f2-f81f-4297-b3dd-d151bcfeebbe","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,400]}],"connections":{"When chat message received":{"main":[[{"node":"Test Data","type":"main","index":0}]]},"Test Data":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f6d6773-7aa6-423c-801b-d1433d903c51","triggerCount":0,"tags":[]}