docs2025-06-25/n8n masterclass "AI Workshop": Workflow #4 [Local AI Kit].json
{"createdAt":"2024-12-01T05:47:10.005Z","updatedAt":"2025-06-24T22:25:38.000Z","id":"TJbqXaObuia05u1u","name":"n8n masterclass \"AI Workshop\": Workflow #4 [Local AI Kit]","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"12c4c715-dacf-4475-aa5e-88c1bbc815aa","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[300,200]},{"parameters":{"dataType":"binary","options":{}},"id":"881fb088-024e-4e02-96e0-a580c132a02d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[480,200]},{"parameters":{"chunkSize":500,"chunkOverlap":50},"id":"100ec9e3-43d5-4f16-bef7-2d9caeb17cc9","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[420,360]},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $json.sessionId }}","mode":"id"},"options":{}},"id":"dd7feb29-f143-4bb7-941f-3f9131605992","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[380,20]},{"parameters":{"options":{}},"id":"4b090818-37d9-4d48-83a9-b9e811ba6c5a","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[740,200]},{"parameters":{"name":"File_Input","description":"The knowledge base to answer user questions."},"id":"d53bb172-1e3d-4bca-a403-9ce63408d24b","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[960,220]},{"parameters":{"qdrantCollection":{"__rl":true,"value":"={{ $('When chat message received').item.json.sessionId }}","mode":"id"},"options":{}},"id":"2b993309-dbb3-4a6b-bb2d-892a24c2b546","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[840,380]},{"parameters":{"options":{"temperature":0}},"id":"70ed9d46-57fa-48f9-8cc8-8d70fc0c5377","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1100,380]},{"parameters":{},"id":"c32400b9-c904-4a0b-ac37-fac3da4f5159","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[800,540]},{"parameters":{"agent":"conversationalAgent","promptType":"define","options":{}},"id":"dd23f7bf-1028-4daa-be16-b07251eaba99","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[760,20],"executeOnce":true},{"parameters":{"public":true,"options":{"allowFileUploads":true}},"id":"baebdbf3-bfd0-4639-9f3e-e4da73ccbfc9","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[160,20],"webhookId":"95493a4b-3b57-426a-830c-66b45365128f"}],"connections":{"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b16c3a6-70b8-406c-9fcb-3b275f4a3562","triggerCount":0,"tags":[]}