docs2025-06-25/n8n masterclass "AI Workshop": Workflow #3 [Email Labelling Agent].json
{"createdAt":"2024-11-29T09:39:22.302Z","updatedAt":"2025-06-24T22:25:40.000Z","id":"f8Boe9cnJfLh9gGV","name":"n8n masterclass \"AI Workshop\": Workflow #3 [Email Labelling Agent]","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"8f6f1f02-5a3c-4480-a344-df53f296cb3d","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"options":{}},"id":"b57d5118-9f29-43fa-95b5-e5537cf35293","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Sponsorship Enquiries","description":"Emails that offer or enquire about sponsorship deals about the YouTube Channel, including potential sponsors wanting to advertise or collaborate on content."},{"category":"Collaboration with companies","description":"Emails from AI companies or related businesses that are interested in collaborating on projects, tutorials or content creation for the channel. "},{"category":"General Business Enquiries","description":"Emails that pertain to general business related topics, not specifically related to sponsorship or collaboration, such as enquiries about the channel, requests for information or other miscellaneous enquiries. "},{"category":"Others","description":"All other emails that do not meet the description of the previous labels. "}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"0eda3b96-2b98-4aa4-9fd1-ef36b9b9acce","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_570876935462085216"]},"id":"9d7f539d-7422-45cc-8539-757a3526c645","name":"Sponsorship","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,80],"webhookId":"484d9e80-362d-4e1e-81ee-2993bf978cb0","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1939051376568238573"]},"id":"5b693adf-ea6a-4f64-8d6c-8cf6dbc1af28","name":"Collaboration","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,240],"webhookId":"484d9e80-362d-4e1e-81ee-2993bf978cb0","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_919473778214473797"]},"id":"2bfc4f56-9514-4699-86ee-f502f7c5f28c","name":"General Business Enquiries","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,400],"webhookId":"484d9e80-362d-4e1e-81ee-2993bf978cb0","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7061349316650349391"]},"id":"e000fb71-ca00-402d-afc3-fddd443b9cbf","name":"Others","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,580],"webhookId":"484d9e80-362d-4e1e-81ee-2993bf978cb0","credentials":{"gmailOAuth2":{"id":"ZGwsOO4pqSL1m9Wh","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Sponsorship","type":"main","index":0}],[{"node":"Collaboration","type":"main","index":0}],[{"node":"General Business Enquiries","type":"main","index":0}],[{"node":"Others","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1733031448}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"977ab25e-c4cf-450f-9550-47cff5b8011e","triggerCount":1,"tags":[]}