docs2025-06-25/Sky Is The Limit Agency - Gmail Labelling AI Agent - lauri.ollikainen@skyisthelimitagency.net.json
{"createdAt":"2025-02-07T14:39:30.277Z","updatedAt":"2025-06-24T22:27:00.000Z","id":"w3LDZJx0p7bZ68fR","name":"Sky Is The Limit Agency - Gmail Labelling AI Agent - lauri.ollikainen@skyisthelimitagency.net","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"63502905-841d-47d9-8272-92461236f3d2","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[120,320],"credentials":{"gmailOAuth2":{"id":"d9LiCw0A0eSVGVaF","name":"lauri.ollikainen@skyisthelimitagency.net "}}},{"parameters":{"model":"gpt-4","options":{}},"id":"98098aa7-45b7-47d0-a059-07d6ce0493ab","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[320,480],"credentials":{"openAiApi":{"id":"lSNyW4azckwiZdMs","name":"OpenAi account 2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_6731806679799448572"]},"id":"492aeede-65cf-47a5-a519-5a0aec274114","name":"Positive Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,200],"webhookId":"23a3809e-e1b6-4e7f-ba84-c59d1574c6c7","credentials":{"gmailOAuth2":{"id":"d9LiCw0A0eSVGVaF","name":"lauri.ollikainen@skyisthelimitagency.net "}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1819747890310806500"]},"id":"21d46bf9-0a52-467f-bf7b-4bb315372caa","name":"Negative Reply","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,440],"webhookId":"9d2fb065-21f7-40de-b9a0-72e2d1abc92a","credentials":{"gmailOAuth2":{"id":"d9LiCw0A0eSVGVaF","name":"lauri.ollikainen@skyisthelimitagency.net "}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Positive Reply","description":"Emails that reply back positively about the company's services, including \"Yes\" synonyms and similar words. \n\n"},{"category":"Negative Reply","description":"Emails that reply back negatively, about the company's services, including \"No\" synonyms and similar words."}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"96394883-1f3b-4a8a-88a7-b57b23542b1c","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[360,320]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Negative Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750082147,"possibleDuplicates":["1954c264df89d38e","1954c18f8d0697ff"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caf23605-0beb-40f2-9048-30bdee752908","triggerCount":1,"tags":[]}