docs2025-06-25/Test Workflow - June 2025.json
{"createdAt":"2025-06-24T14:43:30.205Z","updatedAt":"2025-06-24T22:23:11.000Z","id":"yAN1aRyXVzrt3GAF","name":"Test Workflow - June 2025","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,-20],"id":"558d5602-8140-4b24-bf74-ccc3a21e83a2","name":"When chat message received","webhookId":"47cfaa86-7abd-4fb1-b5ec-f7672c71103d"},{"parameters":{"assignments":{"assignments":[{"id":"48ca7cce-c210-4d58-9e8d-5a8813a01c30","name":"Full Name","value":"={{ $json.name }}","type":"string"},{"id":"c302336c-ac22-4f18-baa5-e8bfe20fb1a2","name":"Email","value":"={{ $json.email }}","type":"string"},{"id":"3bda8e53-8178-4520-bdfd-e0d7f20d3c80","name":"Country","value":"={{ $json.country }}","type":"string"},{"id":"4c5534a2-f181-4f07-8962-c4ccb7cda075","name":"ID","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-20],"id":"f31d5c35-82d6-440a-aa8f-53eb7d495007","name":"Transform Data"},{"parameters":{"operation":"getAllPeople"},"type":"n8n-nodes-base.n8nTrainingCustomerDatastore","typeVersion":1,"position":[-420,-20],"id":"7647fe4f-f67d-488a-a4c0-230d25888824","name":"Test Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c18613a-11f3-4bc3-8cfa-4902e30af7f3","leftValue":"={{ $json.Country }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-20],"id":"b5ac24b8-5532-4bf5-bb3b-15b79f4d87e7","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-180],"id":"f1686c27-6a0d-4a2f-bec6-82c2098a0491","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,120],"id":"00989098-a3e4-4172-b474-0dac7215471d","name":"Edit Fields1"}],"connections":{"When chat message received":{"main":[[{"node":"Test Data","type":"main","index":0}]]},"Test Data":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ba496edd-5d44-4596-9f46-e1dee3ee70a1","triggerCount":0,"tags":[{"createdAt":"2025-06-24T15:01:08.954Z","updatedAt":"2025-06-24T15:01:08.954Z","id":"JMBXeDpivi8UWXSo","name":"training"}]}